body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
  padding: 30px;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  background: #0b5ed7;
  color: white;
  border: none;
  cursor: pointer;
}
